*{
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
    color: white;
}

nav{
    background-color: rgb(59, 59, 59, .8);
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    padding: 0px 5%;
}
nav *{
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
}
body{
    margin: 0px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
nav li{
    display: inline-block;
    padding-right: 10px;
}
section{
    padding: 10% 5%;;
}
section#hero{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    height: 400px;
    padding-top: 200px;
}
section#projects{
    background-color: #373737;
}
section#bio{
    background-color: #7F7B78;
}
section#contact{
    background-color: #373737;
}
h2, h3, h4, h5 {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
}

img {
    height: 80%;
    width: 80%;
}